<label>Server Name</label>

<!--  <input-->
<!--    (input)="onUpdateServerName($event)"-->
<!--    class="form-control"-->
<!--    type="text">-->
<input
  (input)="onUpdateServerName($event)"
  class="form-control"
  type="text"
   [(ngModel)]="serverName">

<!--{{ serverName }}-->
<button class="btn btn-primary"
  [disabled]="!allowNewServer"
(click)="onServerCreation()">Add Server</button>
<!--<p>[innerText="allowNewServer"</p>-->
<!--<p>{{ serverCreationStatus }}</p>-->
<p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p>

<app-server *ngFor="let server of servers"></app-server>

